footer
    p.text-center
        small
            | This website was made possible by
            a(target='_blank' href='https://gitlab.com/') Gitlab
            |  and
            a(target='_blank' href='https://cloudflare.com') CloudFlare
            | .
//- Scripts
script(src='/node_modules/jquery/dist/jquery.min.js')
script(src='/node_modules/bootstrap/dist/bootstrap.bundle.js')
