head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='shortcut icon' href='/favicon.ico')
    title OwO
    link(rel='stylesheet' href='/css/utility.css')
    link(rel='stylesheet' href='/css/index.css')
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
