doctype html
html(lang='en')
    include ../includes/head
    body
        .flex-column.centered-container
            h1 File Upload
            p.alert.alert-primary !{msg ? msg : ""}
            form(action="/upload" enctype="multipart/form-data" method="POST")
                .form-group
                    label File
                    input(name="image" type="file").form-control-file
                button(type="submit").btn.btn-primary Submit
            img(src=file ? file : "").img-fluid
        include ../includes/footer
