.centered {
    text-align: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    margin: 0 auto;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#welcome-text {
    font-size: 28px;
    margin-top: 20px;
}

#uwu-gif {
    height: 250px;
    width: 80%;
    top: 20px;
    left: 0%;
    position: absolute;
    z-index: 2;
}

body {
    color: plum;
}

a {
    color: #42c742;
}

a:hover {
    color: #3cb9c2;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #uwu-panel {
        background-size: 100% 45%;
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    bottom: 0;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    margin-left: 5px;
}

#uwu-panel {
    background-repeat: no-repeat, no-repeat;
    background-image: url("/images/uwu.gif");
    background-size: 100vw 100vh;
    height: 600px;
    margin-bottom: 200px;
}
