doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='shortcut icon' href='/favicon.ico')
        title OwO
        link(rel='stylesheet' href='/css/utility.css')
        link(rel='stylesheet' href='/css/index.css')
    body
        #uwu-panel
            div.flex-column.centered-container
                p#welcome-text.text-center
                    | Juwst anothew wandom site.
        include includes/footer
