<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>History of the Internet</title>
</head>

<body>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <style type="text/css">
        .water {
            fill: #00248F;
        }

        .land {
            fill: #A98B6F;
            stroke: #FFF;
            stroke-width: 0.7px;
        }

        .land:hover {
            fill: #33CC33;
            stroke-width: 1px;
        }

        .focused {
            fill: #33CC33;
        }

        select {
            position: absolute;
            top: 20px;
            left: 580px;
            border: solid #ccc 1px;
            padding: 3px;
            box-shadow: inset 1px 1px 2px #ddd8dc;
        }

        .countryTooltip {
            position: absolute;
            display: none;
            pointer-events: none;
            background: #fff;
            padding: 5px;
            text-align: left;
            border: solid #ccc 1px;
            color: #666;
            font-size: 14px;
            font-family: sans-serif;
        }
    </style>
    <script src="index.js"></script>
</body>

</html>
